/*Navigation bar*/
.container{background-color: lightgrey; display:flex; justify-content: space-between;  padding: 10px;}
.personalinfo{display: flex; flex-direction: column;}
.personalinfo h1{margin: 1px;}
.personalinfo p{margin: 1px;}
.menu{float: right;}

/*About*/
#aboutblock{float: left;}

/*Skills*/
.s_container{display:flex; justify-content: space-between; padding: 0; margin:0}
.s_list{float: left;}


/*Recommendations*/
#rform{display:flex;justify-content: center; align-items:center;}
#namebox{border-radius: 10px }
#recommendationbox{border-radius:10px}
button{border-radius:10px}

.imagebox{
    display:flex; 
    flex-wrap: wrap; 
    justify-self: flex-start;
    flex-direction: row;
    padding: 1px;
    margin: 1px;

}

.logo{
 margin: 1px; 
 border-radius: 2px;
}

#google2{

    width: 7px; 
    height: 5px
}

#google1{
    width: 2.3px; 
    height: 1.6px
}

#ibm{
    width: 7px; 
    height: 5px
}
